html, body {
  margin: 0;
  padding: 0;
  background-color: #000; /* 전체 배경을 검은색으로 설정 */
  background-attachment: fixed; /* 배경 고정 */
  color: white;
  font-family: Arial, sans-serif;
  height: 100%;
}

.app-container {
  display: flex;
}

.content {
  margin-left: 210px; /* 사이드바 너비 */
  flex: 1;
  padding-top: 60px; /* 네비게이션 바 높이 고려 */
  background-color: #000; /* 콘텐츠 영역 배경도 검은색으로 설정 */
}