.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    margin-left: auto; /* 왼쪽 여백을 자동으로 설정하여 중앙 배치 */
    margin-right: auto;
    max-width: 400px; /* 컨테이너의 최대 너비 설정 *//
  }
  
  .signup-title {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
  
  .signup-input {
    width: 85%;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-button {
    width: 90%;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #ff357e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #ff1a60;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin: 0;
    width: 90%;
    text-align: left;
  }  