/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* 단색 배경 */
  background-attachment: fixed; /* 배경 고정 */
  background-repeat: no-repeat;
  background-size: cover; /* 배경이 화면을 가득 채우도록 설정 */
}